:root {
    /* cooperate colors */
    --dark: #000;
    --gray-400: #747474;
    --gray-600: #999999;
    --gray-800: #dde4e4;
    --gray-900: #f1f3f5;
    --white: #fff;
    --primary: #8B04DD;
    --secondary: #8B04DD;
    /* config */
    --theme-color: var(--secondary);
    --theme-color-secondary: var(--primary);
    --theme-color-background: var(--gray-900);
    --text-color-base: #2E2E46;
    --text-color-secondary: #646473;
    --text-color-tertiary: #81818E;
    --text-color-url: #6315A0;
}

::selection {
    background: var(--theme-color-secondary);
}

body {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: var(--text-color-base);
}

* {
    text-decoration: none !important;
}

aside.sidebar {
    border: none;
    background-color: var(--theme-color-background);
    color: var(--text-color-base);
}

.sidebar ul li a {
    color: var(--text-color-secondary);
    font-size: 1rem;
}

.sidebar ul li a:hover {
    text-decoration: none;
    color: var(--theme-color);
}

.sidebar .sidebar-nav ul li.active>a {
    color: var(--theme-color);
    border-right: 0.2rem solid var(--theme-color);
}

.search .results-panel.show {
    background-color: var(--white);
    color: var(--text-color-secondary);
}

.search .matching-post {
    padding: 0;
    border-top: 0.3rem solid var(--theme-color-background);
}

.search a {
    padding: 1rem;
    display: block;
    transition: background-color 0.3s ease;
}

.search a:hover {
    color: var(--text-color-base);
}

.search p.empty {
    margin: 0;
    padding: 1rem;
    background-color: var(--theme-color-background);
}

.search input:focus {
    box-shadow: 0 0 5px var(--theme-color) !important;
    border: 1px solid var(--theme-color) !important;
}

.sidebar>h1 {
    font-size: 2rem;
}

.sidebar-logo {
    display: block;
    width: 16rem;
    margin-left: 2rem;
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

body .sidebar-toggle {
    background: none;
    bottom: 0;
    left: 0;
    cursor: pointer;
    padding: 1rem;
}

body .sidebar-toggle-button {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}

body .sidebar-toggle span {
    transition: all 0.3s linear;
    background-color: var(--theme-color);
    height: 0.25rem;
    width: 1.5rem;
    position: absolute;
    left: 0;
    margin: 0;
    transform-origin: 0;
}

body.close .sidebar-toggle span {
    transform-origin: center;
}

body .sidebar-toggle span:nth-child(1) {
    top: 0;
}

body .sidebar-toggle span:nth-child(2) {
    top: 0.65rem;
}

body .sidebar-toggle span:nth-child(3) {
    top: 1.25rem;
}

.sidebar-toggle .sidebar-toggle-button:hover {
    opacity: 1;
}

.sidebar-toggle:hover span:nth-child(1) {
    transform: rotate(45deg);
    width: 1.75rem;
}

.sidebar-toggle:hover span:nth-child(2) {
    opacity: 0;
}

.sidebar-toggle:hover span:nth-child(3) {
    transform: rotate(-45deg);
    width: 1.75rem;
}

.close .sidebar-toggle:hover span:nth-child(1) {
    transform: rotate(0);
    width: 1.5rem;
    top: 0.65rem;
}

.close .sidebar-toggle:hover span:nth-child(2) {
    opacity: 1;
    transform: rotate(90deg);
}

.close .sidebar-toggle:hover span:nth-child(3) {
    transform: rotate(0);
    width: 1.5rem;
    top: 0.65rem;
}

th {
    text-align: left;
}

.content {
    z-index: -1;
}

.markdown-section {
    background-color: var(--white);
}

.markdown-section blockquote {
    margin: 1em 0;
}

.markdown-section em,
.markdown-section blockquote {
    color: var(--text-color-tertiary);
}

.cover-main img {
    max-width: 10rem;
    max-height: 10rem;
}

.anchor {
    position: relative;
}

.anchor::before {
    visibility: hidden;
    position: absolute;
    top: 0.25em;
    left: -1.5em;
    content: ' ⚓';
    opacity: 0.4;
    font-size: 0.75em;
}

.anchor:hover::before {
    visibility: visible;
}

.app-name-link {
    white-space: nowrap;
}

.app-sub-sidebar li:before {
    display: none;
}

.markdown-section pre,
.markdown-section pre>code {
    font-size: 1em;
    line-height: 1.5;
}

.markdown-section code {
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    color: inherit;
    font-size: 0.9em;
    padding: 0.1em 0.3em;
}

.markdown-section pre {
    padding: 2rem;
}

.markdown-section pre>code {
    padding: 0;
}

.markdown-section hr {
    width: 25%;
    border-bottom: 5px solid #F1F1F2;
}

.markdown-section ol,
.markdown-section p,
.markdown-section ul {
    line-height: inherit;
}

.markdown-section a {
    color: var(--text-color-url);
    font-weight: 500;
    text-decoration: none;
    border-bottom: 0.1rem solid var(--theme-color-secondary);
    transition: all 0.3s ease;
}

.markdown-section a:hover {
    border-color: var(--theme-color-background);
    /* color: var(--theme-color-secondary); */
}

.alert {
    padding: 2rem;
    border: 4px solid var(--theme-color-secondary);
}

.markdown-section p.warn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 2em 0;
    padding: 12px 24px 12px 30px;
    position: relative;
    border-left: 4px solid var(--theme-color-secondary);
    background-color: #f8f8f8;
}

.markdown-section p.tip {
    border-left: 4px solid var(--theme-color);
}

.markdown-section p.tip:before {
    background-color: var(--theme-color);
}

.markdown-section .shields {
    padding-top: 0;
    position: fixed;
    top: 0;
    z-index: -1;
}

.markdown-section .shields p {
    margin-top: 0.9em;
}

.markdown-section .shields a {
    border-bottom: none;
}

.shields img {
    height: 1.1em;
}

/* Badges */

.markdown-section>p:first-child>a {
    border: none;
}

.docsify-copy-code-button {
    font-size: 1rem !important;
    background: var(--theme-color-background) !important;
    color: var(--text-color-secondary) !important;
}

.docsify-copy-code-button .success {
    color: var(--gray-900);
    background-color: var(--theme-color) !important;
}

@media screen and (max-width: 768px) {
    section.cover {
        height: auto;
    }
    section.cover .cover-main {
        margin: 0 5vw;
    }
    .cover-main img {
        max-width: 100px;
        max-height: 100px;
    }
    body.close .sidebar-toggle {
        background-color: transparent;
        padding: 1rem;
    }
    .sidebar-toggle:hover span:nth-child(1) {
        transform: rotate(0);
        width: 1.5rem;
        top: 0.65rem;
    }
    .sidebar-toggle:hover span:nth-child(2) {
        opacity: 1;
        transform: rotate(90deg);
        transform-origin: center;
    }
    .sidebar-toggle:hover span:nth-child(3) {
        transform: rotate(0);
        width: 1.5rem;
        top: 0.65rem;
    }
    .close .sidebar-toggle:hover span:nth-child(1) {
        transform: rotate(45deg);
        width: 1.75rem;
    }
    .close .sidebar-toggle:hover span:nth-child(2) {
        opacity: 0;
    }
    .close .sidebar-toggle:hover span:nth-child(3) {
        transform: rotate(-45deg);
        width: 1.75rem;
    }

    .markdown-section .shields {
        position: relative;
        z-index: 0;
    }
}

@media screen and (min-width: 769px) {
    .markdown-section {
        max-width: 75rem;
        padding: 1rem 3rem;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 112.5%;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 125%;
    }
}
